body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    height: 100%;
    background: linear-gradient(135deg, #e0c3fc 0%, #8ec5fc 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.quiz-container {
    width: 100%;
    max-width: 400px;
    background: transparent;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    padding: 20px;
}

#question-screen {
    width: 90%;
    max-width: 700px;
    padding: 20px;
    animation: slideIn ease-out 0.7s;
}

h1 {
    font-size: 3.5em;
    margin-bottom: 20px;
    color: #af82d4;
    font-weight: 900;
}

button {
    background-color: #af82d4;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-size: 18px;
    margin: 20px 0;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
#start-btn {
    background-color: #af82d4;
    border: none;
    color: white;
    padding: 10px 50px;
    text-align: center;
    font-size: 18px;
    margin: 20px 0;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.icon{
    display: flex;
    justify-content: space-between;
}
.icon-en{
    background-color: #af82d4;
    border: none;
    color: white;
    /* padding: 10px; */
    /* text-align: center; */
    /* font-size: 18px; */
    /* margin: 20px 0; */
    width: 70px;
    height: 70px;
    border-radius: 100%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.icon-en img{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    position: relative;
    left: -10px;
}

button:hover {
    background-color: #5f9ee3;
}

.top{
    background-color: #af82d4;
    padding: 10px;
    border-radius: 30px;
    position: relative;
    color: #fff;
    font-weight: 600;
    animation: step-start 0.7s ease-out 0s 1 normal none;  
}
.top .question-number{
    width: 40px;
    height: 30px;
    background-color: #af82d4;
    border-radius: 100%;
    position: absolute;
    top: -30px;
    left: 43%;
    padding: 0;
    padding-top: 5px;

}
.answer-list {
    list-style: upper-alpha;
    padding: 0;
    transition: ease-out 2s;
    
}

.answer-btn {
    background-color: #af82d4;
    border: none;
    color: white;
    padding: 15px 20px;
    text-align: center;
    font-size: 18px;
    margin: 10px 0;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}

.answer-btn:hover {
    background-color: #b4a5e4;
}

#result-screen h1, #leaderboard-screen h1 {
    font-size: 3em;
    margin-bottom: 20px;
}
#result-screen #result-text{
    background-color: #af82d4;
    color: #fff;
    padding: 10px 30px;
    width: 190px;
    margin-left: 15%;
    border-radius: 30px;
}

#result-screen p {
    font-size: 2em;
    margin-bottom: 30px;
}

#leaderboard-list {
    list-style: none;
    padding: 0;
    font-size: 1.5em;
}

#timer {
    font-size: 2em;
    margin-bottom: 20px;
}
@keyframes slideIn {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.slide-in {
    animation: slideIn 0.5s ease-out;
}